
@font-face {
    font-family: trellicons;
    src: url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.e22f9911a4950ab92f97.eot);
    src: url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.e22f9911a4950ab92f97.eot#iefix) format("embedded-opentype"),url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.d4a0d5ef25556ffd0efa.ttf) format("truetype"),url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.552e4d0361d45729d47b.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.icon-lg,.icon-md,.icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom
}

.icon-lg.mod-quiet,.icon-md.mod-quiet,.icon-sm.mod-quiet {
    color: #6b778c
}

.icon-lg {
    font-size: 24px
}

.icon-lg,.icon-md {
    height: 32px;
    line-height: 32px;
    width: 32px
}

.icon-md {
    font-size: 20px
}

.icon-sm {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px
}

.icon-activity:before {
    content: "\E900"
}

.icon-add:before {
    content: "\E901"
}

.icon-add-member:before {
    content: "\E902"
}

.icon-add-reaction:before {
    content: "\E903"
}

.icon-admin-chevron:before {
    content: "\E904"
}

.icon-app-store:before {
    content: "\E905"
}

.icon-archive:before {
    content: "\E906"
}

.icon-attachment:before {
    content: "\E907"
}

.icon-back:before {
    content: "\E908"
}

.icon-board:before {
    content: "\E909"
}

.icon-box:before {
    content: "\E90A"
}

.icon-business-class:before {
    content: "\E90B"
}

.icon-butler-bot:before {
    content: "\E90C"
}

.icon-calendar:before {
    content: "\E90D"
}

.icon-camera:before {
    content: "\E90E"
}

.icon-card:before {
    content: "\E90F"
}

.icon-card-cover:before {
    content: "\E910"
}

.icon-card-recurring:before {
    content: "\E911"
}

.icon-check:before {
    content: "\E912"
}

.icon-checkbox-checked:before {
    content: "\E913"
}

.icon-checkbox-unchecked:before {
    content: "\E914"
}

.icon-checklist:before {
    content: "\E915"
}

.icon-clock:before {
    content: "\E916"
}

.icon-close:before {
    content: "\E917"
}

.icon-collection:before {
    content: "\E918"
}

.icon-comment:before {
    content: "\E919"
}

.icon-copy:before {
    content: "\E91A"
}

.icon-custom-field:before {
    content: "\E91B"
}

.icon-description:before {
    content: "\E91C"
}

.icon-documents:before {
    content: "\E91D"
}

.icon-down:before {
    content: "\E91E"
}

.icon-download:before {
    content: "\E91F"
}

.icon-dropbox:before {
    content: "\E920"
}

.icon-dropdown-options:before {
    content: "\E921"
}

.icon-edit:before {
    content: "\E922"
}

.icon-email:before {
    content: "\E923"
}

.icon-emoji:before {
    content: "\E924"
}

.icon-enterprise:before {
    content: "\E925"
}

.icon-external-link:before {
    content: "\E926"
}

.icon-facebook:before {
    content: "\E927"
}

.icon-filter:before {
    content: "\E928"
}

.icon-fogbugz:before {
    content: "\E929"
}

.icon-forward:before {
    content: "\E92A"
}

.icon-gear:before {
    content: "\E92B"
}

.icon-github:before {
    content: "\E92C"
}

.icon-google:before {
    content: "\E92D"
}

.icon-google-drive:before {
    content: "\E92E"
}

.icon-heart:before {
    content: "\E92F"
}

.icon-help:before {
    content: "\E930"
}

.icon-home:before {
    content: "\E931"
}

.icon-house:before {
    content: "\E932"
}

.icon-image:before {
    content: "\E933"
}

.icon-information:before {
    content: "\E934"
}

.icon-instagram:before {
    content: "\E935"
}

.icon-kiln:before {
    content: "\E936"
}

.icon-label:before {
    content: "\E937"
}

.icon-leave-board:before {
    content: "\E938"
}

.icon-lightbulb:before {
    content: "\E939"
}

.icon-lightbulb-lit:before {
    content: "\E93A"
}

.icon-list:before {
    content: "\E93B"
}

.icon-location:before {
    content: "\E93C"
}

.icon-log-out:before {
    content: "\E93D"
}

.icon-member:before {
    content: "\E93E"
}

.icon-mention:before {
    content: "\E93F"
}

.icon-microphone:before {
    content: "\E940"
}

.icon-microphone-off:before {
    content: "\E941"
}

.icon-move:before {
    content: "\E942"
}

.icon-nearby:before {
    content: "\E943"
}

.icon-notification:before {
    content: "\E944"
}

.icon-number:before {
    content: "\E945"
}

.icon-onedrive:before {
    content: "\E946"
}

.icon-open-source:before {
    content: "\E947"
}

.icon-organization:before {
    content: "\E948"
}

.icon-organization-visible:before {
    content: "\E949"
}

.icon-overflow-menu-horizontal:before {
    content: "\E94A"
}

.icon-overflow-menu-vertical:before {
    content: "\E94B"
}

.icon-password-manager:before {
    content: "\E94C"
}

.icon-power-up:before {
    content: "\E94D"
}

.icon-preferences:before {
    content: "\E94E"
}

.icon-private:before {
    content: "\E94F"
}

.icon-public:before {
    content: "\E950"
}

.icon-refresh:before {
    content: "\E951"
}

.icon-remove:before {
    content: "\E952"
}

.icon-remove-member:before {
    content: "\E953"
}

.icon-reply:before {
    content: "\E954"
}

.icon-screenshare:before {
    content: "\E955"
}

.icon-search:before {
    content: "\E956"
}

.icon-selection-mode:before {
    content: "\E957"
}

.icon-send:before {
    content: "\E958"
}

.icon-share:before {
    content: "\E959"
}

.icon-star:before {
    content: "\E95A"
}

.icon-starred:before {
    content: "\E95B"
}

.icon-sticker:before {
    content: "\E95C"
}

.icon-subscribe:before {
    content: "\E95D"
}

.icon-sync:before {
    content: "\E95E"
}

.icon-taco:before {
    content: "\E95F"
}

.icon-text:before {
    content: "\E960"
}

.icon-trash:before {
    content: "\E961"
}

.icon-trello-gold:before {
    content: "\E962"
}

.icon-twitter:before {
    content: "\E963"
}

.icon-up:before {
    content: "\E964"
}

.icon-video:before {
    content: "\E965"
}

.icon-video-off:before {
    content: "\E966"
}

.icon-vote:before {
    content: "\E967"
}

.icon-warning:before {
    content: "\E968"
}

.icon-enterprise-dashboard:before {
    content: "\E925"
}

.icon-custom {
    text-align: center;
    vertical-align: middle
}

.icon-custom:before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}